.nav-menu{
   display: flex;
   flex-basis: 100%;
   flex-grow: 1;
   align-items: center;
   margin-right: 2rem;
}
.top-menu{
   display: flex;
   margin-left: auto;
}
ul{
   display: flex;
}
.item{
   padding: 0 10px 0 10px;
   color: #111;
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
   list-style-type: none;
}
.active{
   color: #fff;
}

@media screen and (max-width: 1000px) {
   .top-menu{
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 1rem;
   }
   ul{
      flex-direction: column;
   }
   .item{
      margin: 5px 0;
   }
}