.container{
   padding: 4rem 10rem;
}
.space-bottom{
   padding-bottom: 40px;
}
.paragraph{
   margin-bottom: 1rem;
}
#service{
   background-color: #d7d7d7;
}
#about {
   background: linear-gradient(rgba(247, 242, 247, 0.7), rgba(247, 242, 247, 0.7)), url(../img/bg2.jpg) no-repeat center top fixed;
   background-attachment: relative;
   background-position: center center;
   background-size: cover;
   min-height: 350px;
}
#advantages {
   background: linear-gradient(rgba(242, 246, 247, 0.6), rgb(242, 246, 247, .6)), url(../img/bg.jpg) no-repeat;
   background-attachment: relative;
   background-position: center center;
   background-size: 100%;
   background-size: cover;
}
ul{
   margin-left: 40px;
}
.flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.sale-text {
   flex-grow: 1;
   flex-basis: 100%;
   padding: 2.5rem;
}
.action {
   font-size: 1.3rem;
   color: #DB63A3;
   padding: 2rem 0;
}
.sale-img-wrap{
   flex-grow: 1;
   flex-basis: 100%;
}
.sale-img {
   width: 100%;
}


@media screen and (max-width: 1200px){
   .container{
      padding: 4rem 8rem;
   }
   .action {
      padding: .5rem 0;
   }
}

@media screen and (max-width: 1000px) {
   .container{
      padding: 4rem 7rem;
   }
   .action {
      padding: .2rem 0;
   }
}
@media screen and (max-width: 850px) {
   .flex{
     flex-direction: column;
   }
   .sale-img{
      order: 1;
   }
   .sale-text{
      order: 2;
   }
}
@media screen and (max-width: 767px) {
   .container{
      padding: 4rem 6rem;
   }
}
@media screen and (max-width: 600px) {
   .container{
      padding: 4rem 5rem;
   }
}
@media screen and (max-width: 400px) {
   .container{
      padding: 4rem 4rem;
   }
}
@media screen and (max-width: 320px) {
   .container{
      padding: 3rem 3rem;
   }
}